<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">网站管理</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">网站列表</a></dd>
          <dd><a href="javascript:;">网站添加</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">频道管理</a>
        <dl class="layui-nav-child">
          <dd><a href="{:url('@admin/channel/list')}">频道列表</a></dd>
          <dd><a href="{:url('@admin/channel/add')}">频道添加</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">系统设置</a></li>
    </ul>
  </div>
</div>